In [1]:
import mysql.connector
from tabulate import tabulate

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="!harshcutyi1A"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000023A1A9B5C0>

In [12]:
mycursor = mydb.cursor()
mycursor.execute("USE mavenmovies")

mycursor.execute("SELECT store_id,last_name,first_name FROM customer LIMIT 5 ")
myresult = mycursor.fetchall()


print(tabulate(myresult, headers = ['store_id','last_name','first_name'] ,tablefmt='mysql'))

  store_id  last_name    first_name
----------  -----------  ------------
         1  SMITH        MARY
         1  JOHNSON      PATRICIA
         1  WILLIAMS     LINDA
         2  JONES        BARBARA
         1  BROWN        ELIZABETH